.comment {
    color: #008000; 
}

.reserved_word {
    color: #0000FF; 
}

.identifier {
    color: #800080; 
}

.number {
    color: #FF4500; 
}

.arithmetic_operator {
    color: #8B0000;
}

.logical_operator {
    color: #FFD700; 
}

.assigment_operator {
    color: #DC143C; 
}

.comparison_operator {
    color: #FF69B4; 
}

.punctuator {
    color: #067274; 
}

.parameters {
    color: #c26083; 
}

.string {
    color: #c26083; 
}
