*{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    margin: 0px;
    background-color: #000000;
    padding: 10px;
}
.comment {
    color: #1c911c; 
}

.reserved_word {
    color: #0000FF; 
}

.identifier {
    color: #ef0aef; 
}

.number {
    color: #d6430d; 
}

.arithmetic_operator {
    color: #00b7ff;
}

.logical_operator {
    color: #c8aa00; 
}

.assigment_operator {
    color: #8961ff; 
}

.comparison_operator {
    color: #FF69B4; 
}

.punctuator {
    color: #f80202; 
}


.string {
    color: #c26083; 
}

.boolean {
    color: rgb(30, 144, 146);
}

.python_methods {
    color: rgb(248, 0, 178);
}
.racket_methods {
    color: rgb(248, 0, 178);
}
.character_literal{
    color: rgb(0, 255, 60);
}
.special_word{
    color: rgb(0, 153, 255);
}
.character_line{
    color: rgb(255, 145, 0);
}
.multiple_line_comment{
    color: rgb(0, 255, 204);
}

.menu_container {
    background-color: pink;
    padding: 10px;
    margin-left: 270px;
    
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 7px;
    
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.button {
    background-color: #000000;
    padding: 10px;
    color: rgb(184, 106, 212);
    
    
}
.butt_container{
    display: flex;
    justify-content: flex-end;
  
}

